<header class="header">
    <nav class="navbar">
        <a href="/" class="navbar-logo">Backend Course</a>
        <div class="navbar-menu">
            <a href="/" class="navbar-link">Trang chủ</a>
            <a href="/news" class="navbar-link">Tin tức</a>
            
            <!-- User Dropdown (Demo User cứng) -->
            <div class="user-dropdown">
                <div class="user-trigger">
                    <img class="user-avatar" src="https://files.f8.edu.vn/f8-prod/courses/21/63e1bcbaed1dd.png" alt="Hồng Quân">
                    <span class="user-name">Hồng Quân</span>
                </div>
                <ul class="dropdown-menu">
                    <li><a href="/courses/create">Đăng khóa học</a></li>
                    <li class="divider"></li>
                    <li><a href="/me/courses/show">Khóa học của tôi</a></li>
                    <li><a href="#">Bài viết của tôi</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Đăng xuất</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>